{% set page_title = topic.display %}
{% set page_desc = topic.description %}
{% if topic.speakers.length == 1 %}
  {% set page_feature_image = topic.speakers[0].thumbnail %}
{% endif %}

{% extends "default.jinja" %}

{% block content %}
  <div class="container topic">

    {% if topic.video_recordings.length > 0 %}
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            {% for video in topic.video_recordings %}
              <li class="tab col s3"><a {% if loop.index == 1 %}class="active"{% endif %}
                href="#video-{{ loop.index }}">Video {{ loop.index }}</a></li>
            {% endfor %}
          </ul>
        </div>
          {% for video in topic.video_recordings %}
            <div id="video-{{ loop.index }}" class="col s12">
              {{ video.html | safe }}
            </div>
          {% endfor %}
      </div>
    {% endif %}

    <div class="row">
      <div class="col s12">
        <h3>{{ topic.display }}</h3>
        <div class="meta-list">
          <div class="meta" data-info="datetime">
            <i class="material-icons">event</i>
            <span>{{ topic.date }} (Day {{ topic.day }}) ~ {{ topic.startTime }} - {{ topic.endTime }}</span>
          </div>
          <div class="meta" data-info="venue">
            <i class="material-icons">explore</i>
            <span>{{ topic.venue.name }}</span>
          </div>
          <div class="meta hide-on-large-only" data-info="language">
            <i class="material-icons">comment</i>
            <span>{{ topic.language }}</span>
          </div>
          {% if topic.level %}
            <div class="meta hide-on-large-only" data-info="level">
              <i class="material-icons">network_check</i>
              <span>{{ topic.level }}</span>
            </div>
          {% endif %}
          <div class="meta hide-on-med-and-down" data-info="language">
            {% if topic.language %}
            <div>
              <i class="material-icons">comment</i>
              <span>{{ topic.language }}</span>
            </div>
            {% endif %}
            {% if topic.level %}
            <div>
              <i class="material-icons">network_check</i>
              <span>{{ topic.level }}</span>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% if topic.description.length > 0 %}
      <div class="row">
        <div class="col s12">
          {{ topic.description | safe }}
        </div>
      </div>
    {% endif %}
    {% for speaker in topic.speakers %}
      <div class="row">
        <div class="col m12">
          <div class="speaker">
            <div class="row">
              <div class="col m3">
                <img src="{{ speaker.thumbnail }}" alt="{{ speaker.name }}">
              </div>
              <div class="col m9">
                <h4>{{ speaker.name }}</h4>
                <h5>{{ speaker.community }} / {{ speaker.country }}</h5>
                {{ speaker.description | safe }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{%- block script -%}
<script>
$(document).ready(function(){
  $('ul.tabs').tabs();
});
</script>
{%- endblock -%}
