.topic {
  font-size: 1.1rem;
  .row {
    margin-left: .75rem;
    margin-right: .75rem;
    margin-bottom: 0;
  }

  hr {
    width: 100%;
    color: $primary-color;
    background-color: $primary-color;
    height: 2px;
    border: none;
  }

  h3, h4, h5 {
    color: $primary-color;
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
  }

  h4 {
    font-size: 1.8rem;
  }

  .meta-list {
    font-size: 1.3rem;
    > .meta {
      margin-top: 0.6rem;
      margin-bottom: 0.6rem;

      > div {
        display: inline-block;
        margin-right: 2rem;
      }

      i.material-icons, span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .speaker {
    @extend .z-depth-2;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 1em;
    padding: 1.5em 0.5em;

    img {
      width: 100%;
      border-radius: 50%;
    }

    h5 {
      font-size: 1.4rem;
    }
  }

  .post-event {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  #slides {
    padding-top: 3em;
    padding-bottom: 1em;
    min-height: 20em;
    ul {
      list-style-type: none;
      li {
        display: block;
        a {
          display: block;
          width: 100%;
          padding-left: 2.5em;
          line-height: 1.5em;
          background-image: url('/2018/images/slides.png');
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 1.5em 1.5em;
          margin: 0.5em 0;
          color: #000;
          transition: opacity 0.5s;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
